@model IEnumerable<BankFull.Models.BankDetail>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-dark">Bank</h1>
<hr />
   @if(@User.IsInRole("User")){
<p>
    <a asp-action="Create" class="text-info anc "><i class="fa-solid fa-folder-plus fa-lg"></i> Add Bank</a>
</p>
   }
      <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
<table id="example" class="table table-bordered tablecolor" style="width:83vw;">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name) (मिति) 
            </th>
            <th>
                  @Html.DisplayNameFor(model => model.Address) (ठेगाना)
              
            </th>
            <th>
                  @Html.DisplayNameFor(model => model.AccountNumber) (खाता नंबर)
  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName) 
            </th>

            <th>Wholesaler (होलसेलर)</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>

            <td>
                @Html.DisplayFor(modelItem=> item.User.Name)
            </td>
           
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

<script>
   $(document).ready(function () {
    $('#example').DataTable();
});



</script>
 @section scripts{
                     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.js"></script>



                 }

    @*             @section scripts{
             @*DataTable
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

       }*@