
@model IEnumerable<BankFull.Models.UserMessage?>

@{
    ViewData["Title"] = "Index";
}
<div id="clk" style="display:none" class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<h1>Index</h1>

<table class="table">
    <thead>
          <tr>
            
               
               
             <th>
                @Html.DisplayNameFor(model => model.tblMessage.BankDetail.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Document)
            </th>
            
             <th class="invisible">
                
            </th>

           
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (var item in Model) {
               <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Date)
            </td>
             
               
            <td>

                <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>
               
            </td>
           
          
                        
                
                
            
              <td>
                   
                        <button type="button" class="btn btn-secondary complete">Complete</button>
            </td>   

                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



<script>
   
$(document).ready(function() {
   
    $(".complete").click(function(e){

        // var id =  $(this).attr("#data-value");

    
        
       var msid = $(this).closest('tr').find("td:eq(0)").text();
    //   var mid = parseInt(msid);


       var Asmid = $(this).closest('tr').find("td:eq(2)").text();
    //   var Amid = parseInt(Asmid);

       
        console.log(Asmid);


     //   console.log("Hello")
       $.ajax({

        'url' : 'https://localhost:44346/Sender/Complete',
        'type' : 'Post',
        'data' : { Asmid,msid
           
        },
        'success' : function() {       
            
            $("#clk").css({
                "display": "block",
            });
        },
        'error' : function()
        {
           window.location.href = "https://localhost:44346/Users/Assign"
        }
    });
    })
})

</script>
