
@model IEnumerable<BankFull.Models.UserMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
          <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Bank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.DocumentPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Messages)
            </th>
             <th class="invisible">
                
            </th>

             @if (@User.IsInRole("Admin")){
            <th>
                sendby
            </th>
            
            <th>
                    sendTo
            </th>
            }
        </tr>
            
        
    </thead>
    <tbody>
@foreach (var item in Model) {
               <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Bank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Date)
            </td>
            <td>

                <img src=" @Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Messages)
            </td>
             <td class="msgid invisible">
                @Html.DisplayFor(modelItem => item.tblMessage.Id)
            </td>
             @if(@User.IsInRole("Admin")){
             <td>
                   @Html.DisplayFor(modelItem => item.User.Name)
                        
            </td>             
                    <td>

                        <div class="form-group">                      
                            <select  class ="form-control data" asp-for="@item.UserId"   asp-items="ViewBag.usr"></select>
                        </div>

                    </td>
                    <td>

                <input type="submit"  class="btn btn-success userid"  data-value="@item.tblMessage.Id"/>
             
            </td>
                
            }
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

