
@*model IEnumerable<BankFull.Models.UserMessage?> *@
    @using BankFull.Controllers;  


   @model dynamic

@{
    ViewData["Title"] = "Index";
}
 
    <!--Bootstrap modal -->
    <div class="modal fade" id="exampleMod" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Modal heading -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-solid fa-images"></i>
                    </h5>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <!-- Modal body with image -->
                <div class="modal-body">
                    <img src="gfg.png" />
                </div>
            </div>
        </div>
    </div>



<div id="clk" style="display:none" class="alert alert-success" role="alert">
  This is a success alert—check it out! 
</div>

<h1 class="text-dark">Assigned</h1>
<hr />



 <ul class="nav nav-pills mb-1 " style="border-bottom:0.3px solid green;">
      
        @if (!User.IsInRole("User"))
        {
             <li class="active"><a data-toggle="tab" href="#home">Assigned</a></li>
            <li><a data-toggle="tab" href="#menu1">Assign Complete</a></li>
        }
        @*  <li><a data-toggle="tab" href="#menu2">Agents</a></li> *@
   
  </ul>

  <div class="tab-content">

      @*SubmitNow*@
    <div id="home" class="tab-pane fade active in bg-white ">

        @*Submit*@


       <table id="exx" class="mb-4 table tablecolor wid " style="width:75vw;">
        <thead class="bg-success">
          <tr>
              <th ></th>
              <th>Account Holder</th>

              <th>Bank Name</th>

             <th>
                Address
            </th>
             <th>
                Account No
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>
             @*   Document  *@
             Message
            </th>
            
             <th>
                
            </th>
            <th></th>
            <th></th>
                  
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model.Assign) {

                <tr>  
                    <td style="visibility:hidden;">
                       @Html.DisplayFor(modelItem => item.tblMessage.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.User.Name)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Address)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>


                    <td>

                    @*    <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" data-toggle="modal" data-target="#exampleMod" width="50px"/> *@
                    @Html.DisplayFor(modelItem => item.tblMessage.Messages)
                    </td>

                    <td>
                            <input type="file" required class="form-control p-0 pt-1" id="PhotoSend" />
                                  

            
                    </td>


                    <td>

                        <button type="button" class="btn btn-secondary btn-success complete">Complete</button>
                    </td> 
                    <td>

                        <button type="button" class="btn btn-secondary btn-danger return">Return</button>
                    </td>  

                </tr>
            
        }
    </tbody>
     <tfoot class="table-success ">
            <tr>
             
                <th colspan="1" style="text-align:right">Total: <br/> Sub Total:</th>
                <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                
           
            </tr>
        </tfoot>


</table>


     
    </div>
      @*Submitted*@

        <div id="menu1" class="tab-pane fade bg-white">
    @*Submitted_data*@

     <table id="exam"  class="mb-4 table tablecolor wid " style="width:75vw;">
    <thead class="bg-danger ">
          <tr>
              <th></th>
              <th>Account No</th>
              <th>Send by</th>
             <th>
               Bank Name
            </th>
            <th>
               Amount
            </th>
            <th>
               Date
            </th>
            <th>
          @*     Document  *@
          Message
            </th>
            
             <th>
                
            </th>
            
          
         
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model.AssignComplete) {

         
            
                <tr>
                    <td style="visibility:hidden;">
                        @Html.DisplayFor(modelItem => item.MessageId)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>


                    <td>

                     @*   <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>  *@
                      @Html.DisplayFor(modelItem => item.tblMessage.Messages)
                    </td>




                    <td>

                       

                       
                    </td>     

                </tr>
            
        }
    </tbody>
     <tfoot class="table-danger">
            <tr>
             
                <th colspan="1" style="text-align:right">Total: <br/> Sub Total:</th>
                <th></th><th></th><th></th><th></th><th></th><th></th><th></th>
               
            </tr>
        </tfoot>
</table>



    </div>


    </div>





<script>


$(document).ready(function() {
    $('#exam').DataTable(

        {
            footerCallback: function(row, data, start, end, display) {
                var api = this.api();

                // Remove the formatting to get integer data for summation
                var intVal = function(i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };

                // Total over all pages
                total = api
                    .column(4)
                    .data()
                    .reduce(function(a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function(a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(4).footer()).html(pageTotal + ' <br/>' + total);
            },
        });

    $('#exx').DataTable(
    
       {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(5)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(5, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(5).footer()).html( pageTotal  + ' <br/>' + total  );
        },
       }

);
   
     
     

         $(".return").click(function(e) {
        var msid = $(this).closest('tr').find("td:eq(0)").text();
        //console gare ra check gareko 
        console.log(msid);

        $.ajax({
            'url': '@Url.Action("Reutrn","Users")',
            'type': 'post',
            'data': { msid },

            'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Assign","Users")';

            },
            'error': function() {

                window.location.href = '@Url.Action("Assign","Users")';
            }


        });

    });
   


    $(".complete").click(function(e) {
        

        // var id =  $(this).attr("#data-value");



        var msid = $(this).closest('tr').find("td:eq(0)").text();
        //   var mid = parseInt(msid);


        var Asmid = $(this).closest('tr').find("td:eq(5)").text();
        //   var Amid = parseInt(Asmid);

        // var Completeimg = $(this).closest('tr').find("td:eq(5)").val();
       // var files = $('#PhotoSend').get(0).files;
       

        var fileUpload = $("#PhotoSend").get(0).files;  
           
              
            // Create FormData object  
            var fileData = new FormData();  
  
        

             fileData.append('PhotoPath', fileUpload[0]);  
             fileData.append('Asmid', Asmid);  
             fileData.append('msid', msid);  
	

        
        
        console.log(fileUpload[0]);
        console.log(Asmid);
        console.log(msid);


        //   console.log("Hello")
     $.ajax({

            'url': '@Url.Action("Complete","Sender")',
            'type': 'Post',
            'processData': false,
            'contentType': false,
            'cache': false,
            'data': fileData,
            'enctype': 'multipart/form-data',
            'success': function() {
                
                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location
             
                window.location.href = '@Url.Action("Assign","Users")';
            
            },
            'error': function() {
             
                window.location.href = '@Url.Action("Assign","Users")';
            }
        }); 
    });
    

});

   

</script>

    @section scripts{
  
             @*DataTable*@
  

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

       }








  
