@model IEnumerable<BankFull.Models.User>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-dark">User Setting</h1>
<hr />
   
<p>
    <a asp-action="Create" class="text-info anc "><i class="fa-solid fa-folder-plus fa-lg"></i> Create User</a>
</p>

<div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
<table id="exa" class="table tablecolor" style="width:83vw;">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
               @if (item.Status == true)
               {
                 <td>
                    <button class="btn btn-danger status" >Disable</button>
                  </td>
                    
                }
                else
                {
                  <td>
                    <button class="btn btn-success status">Enable</button>
                 </td>
                    
                }
           
            <td>
                @Html.DisplayFor(modelItem => item.Role.Role1)
            </td>
            <td>
                  <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
 <!-- <h1 class="text-dark">Privacy</h1>  -->

<hr />
<script>

$(document).ready(function () {
    $('#example').DataTable();
        $('.status').click(function(e) {
     
        

            var emails = $(this).closest('tr').find("td:eq(2)").text();
           
            console.log(emails);
               $.ajax({
           'url': '@Url.Action("StatusAssign","Users")',
           'type': 'post',
           'data': { emails },

           'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Index","Users")';

            },
            'error': function() {

                window.location.href = '@Url.Action("Index","Users")';
            }


        });
        

    })
});

</script>
                
    @section scripts{
             @*DataTable*@
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

       }