@model BankFull.Models.Assign

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assign</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receiver_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Received_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Received_Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblMessage.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
