@model IEnumerable<BankFull.Models.tblMessage> 

@*using BankFull.Controllers;  *@
@*@model IEnumerable<MessagerateViewModel>*@

@*model dynamic*@



<div id="clk" style="display:none" class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>

<h1 class="text-dark">Message</h1>
<hr />
   
<p>
    <a asp-action="Create" class="text-info anc "><i class="fa-solid fa-folder-plus fa-lg"></i> Create Message</a>
</p>


<div>
 
  <ul class="nav nav-pills mb-1 " style="border-bottom:0.3px solid green;">
      @if(!@User.IsInRole("Admin")){
    <li class="active"><a data-toggle="tab" href="#home">Messages</a></li>
    
      }
        @if (!User.IsInRole("User"))
        {
             <li class="active"><a data-toggle="tab" href="#home">Assign Now</a></li>
            <li><a data-toggle="tab" href="#menu1">Assigned</a></li>
             <li><a data-toggle="tab" href="#menu2">Complete</a></li>
              <li><a data-toggle="tab" href="#menu3">MessageComplete</a></li>
        }
        @*  <li><a data-toggle="tab" href="#menu2">Agents</a></li> *@
   
  </ul>

  <div class="tab-content">

      @*SubmitNow*@
    <div id="home" class="tab-pane fade active in bg-white ">

        @*Submit*@

<table id="example" class=" table tablecolor" style="width:75vw;">
    <thead class="bg-success">
        <tr>
            
           
             <th>
                bank
            </th>
            <th>
                Amount
            </th>
            <th>
                date
            </th>
            <th>
                document
            </th>
            <th>
                message
            </th>
               
           <th > 
             </th>

            
            @if(@User.IsInRole("Admin")){
             <th > Sent by
            </th>

              
             <th >   sent to
            </th>
            <th > 
             </th>
            }
             <th > 
             </th>
              
        </tr>
    </thead>

    @*Message model looping*@
    <tbody class="">


@foreach (var item in Model){

    @if(User.IsInRole("Admin")){

            if (item.UserMessages.Count() < 2)
            { 

            
                  <tr class="">
           
           <td>
                @Html.DisplayFor(modelItem => item.BankDetail.Name)   
            </td>
          
             
            <td class="cas">
                
                @Html.DisplayFor(modelItem => item.Amount) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                <img src=" @Html.DisplayFor(modelItem => item.DocumentPath)" width="50px"/>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages)
            </td>
             <td class="msgid invisible">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
             @if(@User.IsInRole("Admin")){
             <td>
                 @Html.DisplayFor(modelItem => item.BankDetail.User.Name)   
                        
            </td>   
            
           
                    <td>

                        <div class="form-group">                      
                           <select  class ="form-control data"  asp-for="@item.BankDetail.User.Id"  asp-items="ViewBag.usr"></select> 
                        </div>

                    </td>
                    <td>

                <input type="submit"  class="btn btn-success userid"  data-value="@item.Id"/> 
             
            </td>
                
            }
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a>  *@
               <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>  
            </td>
        </tr>
            }
           }
           

           @if(User.IsInRole("User")){

               
                  <tr class="">
           
           <td>
                @Html.DisplayFor(modelItem => item.BankDetail.Name)   
            </td>
          
             
            <td class="cas">
                
                @Html.DisplayFor(modelItem => item.Amount) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>

                <img src=" @Html.DisplayFor(modelItem => item.DocumentPath)" width="50px"/>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages)
            </td>
             <td class="msgid invisible">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
             @if(@User.IsInRole("Admin")){
             <td>
                 @Html.DisplayFor(modelItem => item.BankDetail.User.Name)   
                        
            </td>   
            
           
                    <td>

                        <div class="form-group">                      
                           <select  class ="form-control data"  asp-for="@item.BankDetail.User.Id"  asp-items="ViewBag.usr"></select> 
                        </div>

                    </td>
                    <td>

                <input type="submit"  class="btn btn-success userid"  data-value="@item.Id"/> 
             
            </td>
                
            }
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a>  *@
               <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>  
            </td>
        </tr>


           }}
    </tbody>


    @*Data fetch*@

</table>
     
    </div>
      @*Submitted*@

    <div id="menu1" class="tab-pane fade bg-white">
    @*Submitted_data*@
    
    
  @* <partial name="~/Views/Index/Index.cshtml"> *@

      
    <div id="Content"></div>
    

            


    </div>

    @*Complete*@

    <div id="menu2" class="tab-pane fade bg-white">
    @*Submitted_data*@

   
    <div id="Complete"></div>


    </div>


     @*MessageComplete*@

    <div id="menu3" class="tab-pane fade bg-white">
    @*Submitted_data*@

   
    <div id="MessageComplete"></div>


    </div>

@*
    <div id="menu2" class="tab-pane fade">
      
    </div>
    *@
  </div>
</div>









<script>
   

$(document).ready(function() {

  
  
     $("#Content").load("Index/Index");
     $("#Complete").load("Index/Complete");
    $("#MessageComplete").load("Index/FinalMessage");
    
 

    

   

   
    $(".userid").click(function(e){

        // var id =  $(this).attr("#data-value");


       var cid = $(this).closest('tr').find('.data').val();

       var Msid = $(this).closest('tr').find("td:eq(5)").text();
       var Mssgid = parseInt(Msid);


        console.log("Hello");
         $.ajax({

        'url' : '/Sender/Index',
        'type' : 'Post',
        'data' : { Mssgid,cid
           
        },
        'success' : function() {       
            
            $("#clk").css({
                "display": "block",
            });
        },
        'error' : function()
        {
            window.location.href = "https://localhost:44346/tblMessages";
        }
    });
    })
})




</script>




 <script>
   $(document).ready(function () {
    $('#example').DataTable();
        $('#exam').DataTable();
         $('#examp').DataTable();

      
});





</script>

                 @section scripts{
             @*DataTable*@
  

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

       }