@model IEnumerable<BankFull.Models.UserMessage>



@{
    ViewData["Title"] = "Index";
}

<div id="clk" style="display:none" class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>

<h1 class="text-dark">Message</h1>
<hr />
   
<p>
    <a asp-action="Create" class="text-info anc "><i class="fa-solid fa-folder-plus fa-lg"></i> Create Message</a>
</p>
<table class="table tablecolor">
    <thead class="bg-info">
        <tr>
            
           
             <th>
                Bank
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblMessage.Messages)
            </th>
               
           <th > 
             </th>

             @if (@User.IsInRole("Admin")){
            <th>
                sendby
            </th>
            
            <th>
                    sendTo
            </th>
            }
            
             <th >   
            </th>
             <th >   
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
           <td>
                @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
            </td>
          
             
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Date)
            </td>
            <td>

                <img src=" @Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMessage.Messages)
            </td>
             <td class="msgid invisible">
                @Html.DisplayFor(modelItem => item.tblMessage.Id)
            </td>
             @if(@User.IsInRole("Admin")){
             <td>
                   @Html.DisplayFor(modelItem => item.User.Name)
                        
            </td>             
                    <td>

                        <div class="form-group">                      
                            <select  class ="form-control data" asp-for="@item.UserId"   asp-items="ViewBag.usr"></select>
                        </div>

                    </td>
                    <td>

                <input type="submit"  class="btn btn-success userid"  data-value="@item.tblMessage.Id"/>
             
            </td>
                
            }
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-lg anc text-success fa-regular fa-pen-to-square"></i></a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-lg anc text-danger fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


<script>
   
$(document).ready(function() {
   
    $(".userid").click(function(e){

        // var id =  $(this).attr("#data-value");

       var cid = $(this).closest('tr').find('.data').val();

       var Msid = $(this).closest('tr').find("td:eq(5)").text();
       var Mssgid = parseInt(Msid);


        console.log("Hello")
         $.ajax({

        'url' : '/Sender/Index',
        'type' : 'Post',
        'data' : { Mssgid,cid
           
        },
        'success' : function() {       
            
            $("#clk").css({
                "display": "block",
            });
        },
        'error' : function()
        {
           window.location.href = "https://localhost:44346/tblMessages"
        }
    });
    })
})

</script>