@model IEnumerable<BankFull.Models.AdminBank>

@{
    ViewData["Title"] = "Index";
}

<h1>Add Bank</h1>

<p>
    <a asp-action="Create"> <i class="fa-solid fa-circle-plus"></i> Create-Bank </a>
</p>
<hr />
   <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
<table id="managed" class="table table-bordered tablecolor wid " style="width:83vw">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.AccountNumber)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ammount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
               
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.AccountNumber)
                
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Ammount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

            <script>
                $(document).ready(function () {
    $('#managed').DataTable();
});
            </script>
            @section scripts{

                 <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

       <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>


                 }