
@model IEnumerable<BankFull.Models.UserMessage?> 



    @*It is for ----------complete---------- section of -------------USER--------------*@
@{
    Layout = null;
}
       <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
   <table id="completebool" class="mb-4 table tablecolor  wid table-bordered widt">
    <thead class="bg-danger">
          <tr>
              <th hidden></th>
              <th hidden></th>
               <th>
                Date (मिति)
            </th>
             <th>
                Bank_Name (बैंक नाम)
            </th>
             <th>Address</th> (ठेगाना)
              <th>Account_Number</th> (खाता नंबर)
              
            
            <th>
                Amount (रकम )
            </th>
           
           
            <th>
             @*   Document *@
             Messages (खबर)
            </th>
            <th>
                
            </th>
            
            

           
            
          
         
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model) {
        
            
                <tr> 
                     <td hidden>
                       @Html.DisplayFor(modelItem => item.tblMessage.Id)
                    </td>
                    <td hidden></td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Address) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber) 
                    </td>
                   

                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount)
                    </td>
                   
                   


                    <td>

                  @*      <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>  *@
                     @Html.DisplayFor(modelItem => item.tblMessage.Messages) 
                    </td>
                    <td>
                       
                    </td>
                      

                </tr>
            
        }
    </tbody>

    
       <tfoot class="table-danger">
            <tr>
                <th hidden></th><th hidden></th>
                <th colspan="2" style="text-align:right">Total: <br /> Sub Total:</th>
                <th></th><th></th><th></th><th></th><th></th>
            </tr>
        </tfoot>




</table>
</div>
    

 <script>
   $(document).ready(function () {

        $('#completebool').DataTable(
    
          {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(6)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(6, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(6).footer()).html( pageTotal  + ' <br/>' + total  );
        },
    }
     


    );
   

       @*----------Cancel-document----------------

           $(".bankSubmit").click(function(e){


                 var ammountAdmin = $(this).closest('tr').find("td:eq(4)").text();
                 var adminbank1 =  $('#bankadmin').find(":selected").text(); 
                 var mid = $(this).closest('tr').find("td:eq(0)").text();
              // var adminbank = $(this).closest('tr').find("td:eq(8)").text();
               console.log(ammountAdmin);
               console.log(adminbank1);
               console.log(mid);

               
        $.ajax({
            'url': '@Url.Action("BankLimit","AdminBanks")',
            'type': 'post',
            'data': { ammountAdmin,adminbank1,mid},

            'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Index","tblMessages")';

            },
            'error': function() {

                window.location.href = '@Url.Action("","tblMessages")';
            }


        });

          });



    $(".canceldoc").click(function(e) {


        var messageids = $(this).closest('tr').find("td:eq(0)").text();
        var empty =  $(this).closest('tr').find("td:eq(1)").text();
       
        console.log(messageids);
        console.log(empty);

       $.ajax({
            'url': '@Url.Action("Canceldoc","Users")',
            'type': 'post',
            'data': { messageids , empty },

            'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Index","tblMessages")';

            },
            'error': function() {

                window.location.href = '@Url.Action("Index","tblMessages")';
            }


        });
        
    }); *@


       
});



</script>
@section scripts{
                   @*DataTable*@
  

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

       }

                 
             


