@model IEnumerable<BankFull.Models.UserMessage?> 

@{
    Layout = null;
}
       <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
   <table id="exxa" class="mb-4 table tablecolor  wid table-bordered widt "  >
    <thead class="bg-info">
          <tr>
              <th hidden></th>
              <th hidden></th>
                <th>
                Date (मिति)
            </th>
              <th>
                Bank_Name (बैंक नाम)
            </th>
            <th>
                Address (ठेगाना)
            </th>
            
             <th>
                Account_No (खाता नंबर)
            </th>
              <th>Assigned Agent </th>
               <th>
                Wholesaler (होलसेलर)
            </th>
            
              
           
            <th>
                Amount
            </th>
          
            <th >
            
              Message
            </th>
            
             <th>
               
            </th>

           
            
          
         
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model) {

         
            
                <tr>  
                       <td hidden>
                        @Html.DisplayFor(modelItem => item.tblMessage.Id) 
                        
                    </td>
                    <td hidden >
                        @Html.DisplayFor(modelItem => item.User.Id) 

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.Name) 
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.User.Name)
                    </td>
                     
                   
                    

                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount)
                    </td>
                    

                    <td>

                         @Html.DisplayFor(modelItem => item.tblMessage.Messages)
                    </td>




                    <td>
                          <button class="btn btn-secondary cancel1">Cancel</button>
                        
                    </td>     

                </tr>
            
        }
    </tbody>


     <tfoot>
            <tr>
             <th hidden></th> <th hidden></th>
                <th colspan="1" style="text-align:right">Total: <br />Sub Total:</th>
                 <th></th><th></th><th></th><th></th><th ></th> <th></th> <th></th> 
               
            </tr>
        </tfoot>
</table>

</div>
    
 <script>
   $(document).ready(function () {

       
   $('#exxa').DataTable(
    
    {

        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(8)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(8, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(8).footer()).html( pageTotal  + ' <br/>' + total  );
        },
    }
    
    
    
    
    
    );

     // aja 12 gate ko update

         $(".cancel1").click(function(e) {
                e.preventDefault();
        var msid = $(this).closest('tr').find("td:eq(0)").text();
        var Aid = $(this).closest('tr').find("td:eq(1)").text();
        //console gare ra check gareko 
        console.log(msid);
        console.log(Aid);
             e.preventDefault();

        $.ajax({
            'url': '@Url.Action("Cancel","Users")',
            'type': 'post',
            'data': { msid,Aid},

            'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Index","tblMessages")';

            },
            'error': function() {

                window.location.href = '@Url.Action("","tblMessages")';
            }


        });  

    });
    //yeha samma



       
});



</script>

            
                 
             

 @section scripts{
                     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.js"></script>



                 }