@model IEnumerable<BankFull.Models.UserMessage?> 



    @*It is for ----------complete---------- section of -------------USER--------------*@
@{
    Layout = null;
}
    
   <table id="completeuser" class="mb-4 table tablecolor wid " style="width:75vw;">
    <thead class="bg-success">
          <tr>
              <th></th>
              <th></th>
              <th>Account_Number</th>
              
             <th>
                Bank_Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>Address</th>
            <th>
             @*   Document *@
            </th>
            
             <th>
                
            </th>
           
            
          
         
            
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model) {
    
         
            
                <tr> 
                     <td style="visibility:hidden;">
                       @Html.DisplayFor(modelItem => item.tblMessage.Id)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Address) 
                    </td>


                    <td>

                  @*      <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" width="50px"/>  *@

                    </td>




                    <td>
                        <button type="button" class="btn btn-secondary btn-danger canceldoc">Cancel Document</button>
                        
                    </td>     

                </tr>
            
        }
    </tbody>

    
       <tfoot>
            <tr>
                <th colspan="2" style="text-align:right">Total: <br /> Sub Total:</th>
                <th></th><th></th><th></th><th></th>
            </tr>
        </tfoot>




</table>

    

 <script>
   $(document).ready(function () {

        $('#completeuser').DataTable(
    
          {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(4)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(4, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(4).footer()).html( pageTotal  + ' <br/>' + total  );
        },
    }
     


    );
   

    @*----------Cancel-document----------------*@



    $(".canceldoc").click(function(e) {


        var messageids = $(this).closest('tr').find("td:eq(0)").text();
        var empty =  $(this).closest('tr').find("td:eq(1)").text();
       
        console.log(messageids);
        console.log(empty);

       $.ajax({
            'url': '@Url.Action("Canceldoc","Users")',
            'type': 'post',
            'data': { messageids , empty },

            'success': function() {

                $("#clk").css({
                    "display": "block",
                });

                //Error Occur But why ????? So i comment out the Redirect location

                window.location.href = '@Url.Action("Index","tblMessages")';

            },
            'error': function() {

                window.location.href = '@Url.Action("Index","tblMessages")';
            }


        });
        
    });


       
});



</script>
@section scripts{
                   @*DataTable*@
  

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

       }

                 
             


