@model List<BankFull.Models.UserMessage> 
   
    
    @{
        Layout = null;
    }
 
<table id="exxa" class="mb-4 table tablecolor wid table-bordered " style="width:75vw;">
        <thead class="">
          <tr>
            
               <th>
                Date
            </th>
            <th>Bank Name</th>
              <th>
                Address
            </th>
            <th>
                Account No
            </th>
            <th>
                Amount
            </th>
             <th>
                Rate
            </th>
               <th>
        
             Message
            </th>
              <th>Wholesaler</th>

            
     
                  
        </tr>
            
        
    </thead>
    <tbody>
@foreach (UserMessage item in Model) {

                <tr>  
                  
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Date)
                    </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Name)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.Address)
                    </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.Amount) 
                    </td>
                    <td>
                         (@item.tblMessage.Rate)
                    </td>
                      <td>

                    @*    <img src="~/@Html.DisplayFor(modelItem => item.tblMessage.DocumentPath)" data-toggle="modal" data-target="#exampleMod" width="50px"/> *@
                    @Html.DisplayFor(modelItem => item.tblMessage.Messages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMessage.BankDetail.User.Name)
                    </td>
                  

                  


 

                </tr>
            
        }
    </tbody>
     <tfoot class=" ">
            <tr>
             
                <th >Total: <br/> Sub Total:</th>
                <th></th><th></th><th></th><th></th><th></th><th></th>
                
           
            </tr>
        </tfoot>


</table>

<script>

$(document).ready(function() {
  $('#exxa').DataTable(
    
       {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(5)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(5, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(5).footer()).html( pageTotal  + ' <br/>' + total  );
        },
       }

);

  }

   </script>


                      @section scripts{
  
             @*DataTable*@
  

    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>

       }