@model IEnumerable<BankFull.Models.User>

@{
    ViewData["Title"] = "Index";

}

<h1>Pay Detail</h1>
<!--9/30/2022--->

  <ul class="nav nav-pills mb-1 " style="border-bottom:0.3px solid green;">
      @if (@User.IsInRole("Admin"))  
      {
    <li class="active"><a data-toggle="tab" href="#home">Agent</a></li>
    <li><a data-toggle="tab" href="#menu1">wholeseller/Retailer</a></li>
    }

      @if (@User.IsInRole("User"))  
      {
  
    <li class="active" ><a data-toggle="tab" href="#menu1">wholeseller/Retailer</a></li>
    }
      @if (@User.IsInRole("Agent"))  
      {
        <li class="active"><a data-toggle="tab" href="#home">Agent</a></li>

    }
    
    </ul>

       <div class="tab-content">
    @if (@User.IsInRole("Admin"))
    {
        @*Agent *@
        <div id="home" class="tab-pane fade active in bg-white "  >
            <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
          
            <table id="datass" class=" table tablecolor  wid table-bordered " style="width:83vw;" >
                <thead class="bg-info">
                    <tr>
                        <th style="display:none;"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name) (नाम)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address) (ठेगाना)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email) (ईमेल)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone) (फोन नंबर)
                        </th>



                        <th>
                            Amount (रकम )
                        </th>
                        <th>
                            Pay Amount (तिरेको रकम )
                        </th>
                        <th>
                            Remain Amount (बाँकी रकम)
                        </th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Role.Role1 == "Agent")
                        {
                            <tr>
                                <td style="display:none;">@Html.DisplayFor(modelItem => item.Id) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>



                                <td >
                                    <button data-target="#exampleModal1" class="sumAmount btn-info" data-toggle="modal">  @item.UserMessages.Sum(x=>x.tblMessage.Amount)</button>
                                </td>
                                <td>
                                    <button data-target="#exampleModal2" class="payAmount btn-info" data-toggle="modal">@item.Paymentss.Sum(x=>x.Payment * x.Rate)</button>
                                </td>
                                <td>
                                    @(item.UserMessages.Sum(x=>x.tblMessage.Amount)-item.Paymentss.Sum(x=>x.Payment * x.Rate))
                                </td>
                                <td>
                                    <button data-target="#exampleModal3" class="paybtn btn-success" data-toggle="modal">Pay</button>
                                </td>

                            </tr>
                        }

                    }
                </tbody>


                <tfoot class="table-info">
                    <tr>
                        <th  style="text-align:right">Total: <br/>Sub Total:</th>
                        <th></th>  <th style="display:none;"></th>  <th></th> <th></th> <th></th><th></th><th></th><th></th>
                    </tr>
                </tfoot>
            </table>
            </div>
            



        </div>  
        @*Retailer*@
        <!--comment it for Agent new index create-->

        <div id="menu1" class="tab-pane fade in bg-white"  >
         <div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
            <!--   <div id="wholesalerpay"></div> -->
            <table id="dat" class=" table tablecolor wid table-bordered widt"  >
                <thead class="bg-info">
                    <tr>
                        <th hidden></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name) (नाम)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address) (ठेगाना)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email) (ईमेल)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone) (फोन नंबर)
                        </th>



                        <th>
                            Amount (रकम)
                        </th>
                        <th>
                            Pay Amount (तिरेको रकम)
                        </th>
                        <th>
                            Remain Amount (बाँकी रकम) won 
                        </th>
                     


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Role.Role1 == "User")
                        {
                           
                            <tr>
                                <td hidden>@Html.DisplayFor(modelItem => item.Id) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>



                                <td >
                                    <button data-target="#exampleModal1" class="sumAmount btn-info" data-toggle="modal">  @item.UserMessages.Sum(x=>x.tblMessage.Amount * x.tblMessage.Rate) won</button>
                                </td>
                                <td>
                                    <button data-target="#exampleModal2" class="payAmount btn-info" data-toggle="modal">@item.Paymentss.Sum(x=>x.Payment) won</button>
                                </td>
                                <td>
                                    @(item.UserMessages.Sum(x=>x.tblMessage.Amount * x.tblMessage.Rate)-item.Paymentss.Sum(x=>x.Payment)) 
                                </td>


                            </tr>
                        }

                    }
                </tbody>


                <tfoot class="table-info">
                    <tr>
                         <th hidden></th>
                        <th  style="text-align:right">Total: <br/>Sub Total:</th>
                       <th></th> <th></th><th></th><th></th><th></th><th></th>
                    </tr>
                </tfoot>
            </table> 
            </div>
            </div>

        
    }

    @if (@User.IsInRole("Agent"))
    {
        @*Agent *@
        <div id="home" class="tab-pane fade active in bg-white ">
            <table id="datass" class="mb-4 table tablecolor  wid table-bordered " style="width:83vw;">
                <thead class="bg-info">
                    <tr>
                        <th style="display:none;"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name) (नाम)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address) (ठेगाना)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email) (ईमेल )
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone) (फोन नंबर)
                        </th>



                        <th>
                            Amount (रकम)
                        </th>
                        <th>
                            Pay Amount (तिरेको रकम )
                        </th>
                        <th>
                            Remain Amount (बाँकी रकम) 
                        </th>
                       


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Email == @User.Identity.Name)
                        {
                            <tr>
                                <td style="display:none;">@Html.DisplayFor(modelItem => item.Id) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>



                                <td >
                                    <button data-target="#exampleModal1" class="sumAmount btn-info" data-toggle="modal">  @item.UserMessages.Sum(x=>x.tblMessage.Amount)</button>
                                </td>
                                <td>
                                    <button data-target="#exampleModal2" class="payAmount btn-info" data-toggle="modal">@item.Paymentss.Sum(x=>x.Payment)</button>
                                </td>
                                <td>
                                    @(item.UserMessages.Sum(x=>x.tblMessage.Amount)-item.Paymentss.Sum(x=>x.Payment))
                                </td>
                              

                            </tr>
                        }

                    }
                </tbody>


                <tfoot class="table-info">
                    <tr>
                        <th  style="text-align:right">Total: <br/>Sub Total:</th>
                        <th></th>  <th style="display:none;"></th>   <th></th> <th></th><th></th><th></th><th></th>
                    </tr>
                </tfoot>
            </table>





        </div> 
        
    }

     @if(@User.IsInRole("User"))
    {
          <div id="home" class="tab-pane fade active in bg-white ">
            <table id="datass" class="mb-4 table tablecolor wid table-bordered " name="paymentexport" style="width:83vw;">
                <thead class="bg-info">
                    <tr>
                        <th style="display:none;"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>



                        <th>
                            Amount
                        </th>
                        <th>
                            Pay Amount
                        </th>
                        <th>
                            Remain Amount
                        </th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        @if (item.Email == @User.Identity.Name)
                        {
                            <tr>
                                <td style="display:none;">@Html.DisplayFor(modelItem => item.Id) </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>



                                <td >
                                    <button data-target="#exampleModal1" class="sumAmount btn-info" data-toggle="modal">  @item.UserMessages.Sum(x=>x.tblMessage.Amount * x.tblMessage.Rate)won</button>
                                </td>
                                <td>
                                    <button data-target="#exampleModal2" class="payAmount btn-info" data-toggle="modal">@item.Paymentss.Sum(x=>x.Payment)won</button>
                                </td>
                                <td>
                                    @(item.UserMessages.Sum(x=>x.tblMessage.Amount * x.tblMessage.Rate)-item.Paymentss.Sum(x=>x.Payment))
                                </td>
                                <td>
                                    <button data-target="#exampleModal3" class="paybtn btn-success" data-toggle="modal">Pay</button>
                                </td>

                            </tr>
                        }

                    }
                </tbody>


                <tfoot class="table-info">
                    <tr>
                        <th  style="text-align:right">Total: <br/>Sub Total:</th>
                        <th></th>  <th style="display:none;"></th>  <th></th> <th></th> <th></th><th></th><th></th><th></th>
                    </tr>
                </tfoot>
            </table>





        </div> 
    }

     </div>



 <div id="menu1" class="tab-pane fade in bg-white loadagent">

 </div>



<!-- Modal -->
<div class="modal fade " style=" overflow-x:scroll; "   id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content " style="width:77vw;"  >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Amount</h5>
       
       

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         
      </div>
             
      <div class="modal-body">
          <p id="headers" class="text-success"></p>
        <div id="mAmount"> </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content  ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay Amount</h5>
         
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       
      </div>
      <div class="modal-body">
           <p id="header" class="text-success"></p>
        <div id="mPayAmount"> </div>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<!--Pay button-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="mPay"> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>




@section scripts{


<script >
   
$(document).ready(function () {


    $("#wholesalerpay").load("UserDetail/Wholesalerview");



     $('#datass').DataTable(
     
         {

         
      
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(7)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(7, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(7).footer()).html( pageTotal  + ' <br/> ' + total );

       
             
        },
           dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Exported data'
         } ]
    }
     
     
     
     );
     $('#dat').DataTable(
     
         {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(7)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(7, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(7).footer()).html( pageTotal  + ' <br/> ' + total );





             
        },
            dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Exported data'
         } ]

        
         
         }
     
     
     
     );



    $(".imgprev").click(function(e) {
           e.preventDefault();
        var cid = $(this).closest('tr').find("td:eq(0)").text();
        console.log(cid);
       


        $.ajax({

            'url': '@Url.Action("Preview","Sender")',
            'type': 'post',
            'data': { cid
             },
            'success': function(image) {
                  $("#appends").append('<image style="width:30vw;" src ="' +image+'"/>');
                     
            
            },
            'error': function() {
                 
            },
        });


      

         
    });



    $('.sumAmount').click(function(e) {
           e.preventDefault();

        var userid = $(this).closest('tr').find("td:eq(0)").text();
         var User = $(this).closest('tr').find("td:eq(1)").text().toUpperCase();
          $("#headers").empty().append(User);
        console.log(userid);
        $.ajax({
            'url': '@Url.Action("AmountC","UserDetail")',
            'type': 'post',
            'data': { userid },

            'success': function(abc) {


                $("#mAmount").empty().html(abc);
                //   $("exampleModal1").modal('show');

                 $('#exxa').DataTable(
    
       {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(4)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(4, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(4).footer()).html( pageTotal  + ' <br/>' + total  );
        },
            dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Exported data'
         } ]
       }

);



            },
            'error': function() {

                window.location.href = '@Url.Action("Index","UserDetail")';
            },

        
        });

         });
    


      $('.payAmount').click(function(e) {
     
        
             e.preventDefault();
           var users = $(this).closest('tr').find("td:eq(0)").text();
           var User = $(this).closest('tr').find("td:eq(1)").text().toUpperCase();
            $("#header").empty().append(User);
            console.log(users);
        $.ajax({
           'url': '@Url.Action("PayAmountC","UserDetail")',
            'type': 'post',
            'data': { users },

            'success': function(payments) {
                 
                $("#mPayAmount").empty().html(payments);
                 $('#payamttbl').DataTable(
    
       {
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(1)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(1, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(1).footer()).html( pageTotal  + ' <br/>' + total  );
        },
            dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            autoFilter: true,
            sheetName: 'Exported data'
         } ]
       }

);

             //   $("exampleModal1").modal('show');
               

                //Error Occur But why ????? So i comment out the Redirect location

            },
            'error': function() {

                window.location.href = '@Url.Action("Index","UserDetail")';
            }


        });
        

    }); 
  

    
      $('.paybtn').click(function(e) {
     
           e.preventDefault();

           var usr = $(this).closest('tr').find("td:eq(0)").text();
           var User = $(this).closest('tr').find("td:eq(1)").text().toUpperCase();
            $("#headering").empty().append(User);
            console.log(usr);
               $.ajax({
           'url': '@Url.Action("Pay","UserDetail")',
            'type': 'post',
            'data': { usr },

            'success': function(pays) {
                 
                $("#mPay").empty().html(pays);;
             //   $("exampleModal1").modal('show');
               

              

                //Error Occur But why ????? So i comment out the Redirect location

            },
            'error': function() {

                window.location.href = '@Url.Action("Index","UserDetail")';
            }


        });
        

    });




    });
   




</script>


                     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.js"></script>



                 }
    

                 @*DataTable*@
@*   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap.min.css"/>
                


    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
 



     <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

       }*@