<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankFull</title>
    <link rel=" stylesheet" href="~/css/style.css" />
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankFull.styles.css" asp-append-version="true" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


   @*Nav*@
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


@*.......................*@
    
    





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>


  <div class="w-100">
    <div class="row d-flex ">


      <!-- For lg md Screen  -->
      <div class=" d-none d-lg-block d-md-block col-md-3 col-lg-3 p-0  bg-info position-fixed" style="height:100vh;">
        <div class=" d-flex flex-column justify-content-between " style="height: 100vh;">

                    <div class="text-center my-4"><a  class="text-white "><strong> @if (@User.Identity.IsAuthenticated)
                                {
                                    <p> Welcome !</p> @User.Identity.Name
                                }
                                else
                                {
                                    <p>Sign up ! </p>
                                }
                            </strong></a></div>


          <div class="col d-flex flex-column border-info mt-4 " >
            <a class="a row py-2 p-0 text-white text-center border-sm pl-4 act home " id="Test1" style=" border-bottom: 0.3px solid burlywood; "
            asp-controller="Home" asp-action="Index"
              style=" active border-bottom: 0.3px solid burlywood;  " ><i
                class="fa-solid fa-home" style="margin-top: 13px;   "></i>
              <p class="ml-2 mt-2">Home</p>
            </a>
             @if (@User.Identity.IsAuthenticated)
                        {
                            if (@User.IsInRole("Admin"))
                            {
                                 <a class=" a row py-2 p-0 text-white text-center border-sm pl-4 Bank act" asp-controller="BankDetails" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class=" fa-solid fa-money-check "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Bank Details</p>
            </a>
             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 tblmessage act" asp-controller="tblMessages" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Message</p>
              </a>
                 <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Transaction " asp-controller="Transactions" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Transaction</p>
                                </a>

                                <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act userdetail" asp-controller="UserDetail" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Payment</p>
                                </a>

                                 <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Transactionrate " asp-controller="TransactionRates" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Transaction Rate</p>
                                </a>
                                <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act AdminBank" asp-controller="AdminBanks" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-gears"
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Add Banks</p>
                                </a>

                                  <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Setting" asp-controller="Users" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-gears"
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Setting</p>
                                </a>

                                
                            }

                            else if (@User.IsInRole("User"))
                            {
                                                
                                <a class=" a row py-2 p-0 text-white text-center border-sm pl-4 act Bank " asp-controller="BankDetails" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class=" fa-solid fa-money-check "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Bank Details</p>
            </a>
             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act tblmessage" asp-controller="tblMessages" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Message</p>
                                </a>
                            }
                            else if (@User.IsInRole("Agent"))
                            {
                                 <a class="row a py-2 p-0 text-white text-center Assign border-sm pl-4 act " asp-controller="Users" asp-action="Assign"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Assign</p>
            </a>
                            }


                   }

          
           @*
            <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act role " asp-controller="Roles" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Role</p>
            </a>
            *@

            @if (!@User.Identity.IsAuthenticated)
                        {
                             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Register" asp-controller="Account" asp-action="Register"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Register</p>
            </a>
                            
                        }

     
            
          </div>

                    @if (@User.Identity.IsAuthenticated)
                    {
                         <div class="text-center mb-4"><a  class="a text-white" asp-controller="Account" asp-action="Logout"><i
                class="fa-solid fa-right-from-bracket"></i>Logout</a></div>
                    }
                    else
                    {
                        
           <div class="text-center mb-4"><a  class="a text-white"  asp-controller="Account" asp-action="Index"><i
                class="fa-solid fa-right-from-bracket"></i>Login</a></div>
                    }

        </div>



      </div>

        <!-- For sm Screen  -->
      <div class="d-block d-lg-none d-md-none p-0  bg-info position-fixed" style="height:100vh;">
        <div class=" d-flex flex-column justify-content-between " style="height: 100vh;">

                    <div class="text-center my-4"><a  class="text-white "><strong> @if (@User.Identity.IsAuthenticated)
                                {
                                    <p> Welcome !</p>
                                }
                                else
                                {
                                    <p>Sign up ! </p>
                                }
                            </strong></a></div>


          <div class="col d-flex flex-column border-info mt-4 " >
            <a class="a row py-2 p-0 text-white text-center border-sm pl-4 act home " id="Test1" style=" border-bottom: 0.3px solid burlywood; "
            asp-controller="Home" asp-action="Index"
              style=" active border-bottom: 0.3px solid burlywood;  " ><i
                class="fa-solid fa-home" style="margin-top: 13px;   "></i>
              <p class="ml-2 mt-2">Home</p>
            </a>
             @if (@User.Identity.IsAuthenticated)
                        {
                            if (@User.IsInRole("Admin"))
                            {
                                 <a class=" a row py-2 p-0 text-white text-center border-sm pl-4 Bank act" asp-controller="BankDetails" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class=" fa-solid fa-money-check "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Bank Details</p>
            </a>
             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 tblmessage act" asp-controller="tblMessages" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Message</p>

              <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Transactionrate " asp-controller="TransactionRates" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Transaction Rate</p>
                                </a>
              </a>
                 <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Transaction " asp-controller="Transactions" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Transaction</p>
                                </a>
                                 <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act userdetail" asp-controller="UserDetail" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Payment</p>
                                </a>
                                   <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act AdminBank" asp-controller="AdminBanks" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-gears"
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Add Banks</p>
                                </a>
                                  <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Setting " asp-controller="Users" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-gears"
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Setting</p>
                                </a>
                              

                            }

                            else if (@User.IsInRole("User"))
                            {
                                                
                                <a class=" a row py-2 p-0 text-white text-center border-sm pl-4 act Bank " asp-controller="BankDetails" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class=" fa-solid fa-money-check "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Bank Details</p>
            </a>
             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act tblmessage" asp-controller="tblMessages" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Message</p>
                                </a>
                            }
                            else if (@User.IsInRole("Agent"))
                            {
                                 <a class="row a py-2 p-0 text-white text-center Assign border-sm pl-4 act " asp-controller="Users" asp-action="Assign"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Assign</p>
            </a>
                            }


                   }

          
           @*
            <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act role " asp-controller="Roles" asp-action="Index"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Role</p>
            </a>
            *@

            @if (!@User.Identity.IsAuthenticated)
                        {
                             <a class="row a py-2 p-0 text-white text-center border-sm pl-4 act Register" asp-controller="Account" asp-action="Register"
              style=" border-bottom: 0.3px solid burlywood;  " ><i class="fa-solid fa-money-check-dollar "
                style="margin-top: 13px;"></i>
              <p class="ml-2 mt-2">Register</p>
            </a>
                            
                        }

     
            
          </div>

                    @if (@User.Identity.IsAuthenticated)
                    {
                         <div class="text-center mb-4"><a  class="a text-white" asp-controller="Account" asp-action="Logout"><i
                class="fa-solid fa-right-from-bracket"></i>Logout</a></div>
                    }
                    else
                    {
                        
           <div class="text-center mb-4"><a  class="a text-white"  asp-controller="Account" asp-action="Index"><i
                class="fa-solid fa-right-from-bracket"></i>Login</a></div>
                    }

        </div>



      </div>

    

      
     


      <div class=" col d-flex  " id="medwid">

          @* <div class="col-lg-3 col-md-4 m-0 p-0 " style="display:none;">  </div> *@
        <div class="col-lg-9 col-md-9 m-0 p-0 container-fluid position-absolute " style="right:0px;">

          <!-- Content field -->
          <div id="padding" >
         
        <main role="main"  >
            @RenderBody()
        </main>
      

        </div>

        </div>


      </div>

    </div>
  </div>


  



   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



   
@{
    var currentActionName = ViewContext.RouteData.Values["Controller"].ToString();
}
<script>
  $(document).ready(function() {
    //remove the active class in each pages
    $('.act').each(function() {
        $(this).removeClass('active');
    });
    //assign the active class to active page only
    if ('@currentActionName' === 'Home') {
        $('.home').addClass('active');
    } else if ('@currentActionName' === "tblMessages") {
        $('.tblmessage').addClass('active');
    } else if ('@currentActionName' === "BankDetails") {
        $('.Bank').addClass('active');
    }
     else if ('@currentActionName' === "TransactionRates") {
        $('.Transactionrate').addClass('active');
    }
    else if ('@currentActionName' === "Transactions") {
        $('.Transaction').addClass('active');
    }else if ('@currentActionName' === "Users") {
        $('.Assign').addClass('active');
    }else if ('@currentActionName' === "Account") {
        $('.Register').addClass('active');
    }else if ('@currentActionName' === "Roles") {
        $('.role').addClass('active');
    }
    else if ('@currentActionName' === "Users") {
        $('.Setting').addClass('active');
    }
      else if ('@currentActionName' === "UserDetail") {
        $('.userdetail').addClass('active');
    }
       else if ('@currentActionName' === "AdminBanks") {
        $('.AdminBank').addClass('active');
    }
});
</script>
