@model IEnumerable<BankFull.Models.tblMessage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="mb-4 table tablecolor wid table-bordered " style="width:75vw;">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankDetail.User.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankDetail.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Amount)*@
               Payment
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankDetail.User.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankDetail.User.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <button id="btn" class="btn btn-success">Export to Excel</button>
</div>

<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="jquery.table2excel.js"></script>
<script type="text/javascript">
$('#btn').click(function() {
    $('.table').table2excel({
        exclude: ".noExl",
        name: "My work",
        filename: "Biodata"

    });
});   

</script>
