@model IEnumerable<BankFull.Models.TransactionRate>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction Rate</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="width:83vw; scroll-behavior:smooth; overflow:scroll;">
<table id="ratetable" class="table  tablecolor">
    <thead class="bg-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate) (रेट)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date) (मिति)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>


     @section scripts{
                     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.1/b-2.3.2/b-html5-2.3.2/b-print-2.3.2/datatables.min.js"></script>
<script>
             $(document).ready(function () {
    $('#ratetable').DataTable();
});

</script>}


                 